<h2>About</h2>

<p>This dataset is the Service Requests received by 311 in Winnipeg. These requests can include: Dog Complaints, Graffiti, Mosquito Complaints, Neighborhood Liveability Complaints, Sewer Backups, and Vacant or Derelict Building Complaints, etc. This database will include 4 tables. A “Neighbourhood” table with a column for “name” of type string. A “ServiceArea” table with a column for “name” of type string. A “ServiceRequest” table with a column for “name” of type string. A “request” table with 5 columns: “date” of type datetime, “location” of type string, fk reference for “neighbourhood”, fk reference for “service_area_id” and fk reference for “service_request_id”.  </p>

<%= image_tag ("ERD.png")%>
